@import '_include-media';

body { 
  background: linear-gradient(#f6f7fc 0%,#d5e1e8 40%) fixed; 
}

.search {
    border-radius: 999999px;
    border: none;
    box-shadow: 0 0 20px lighten($color: #000000, $amount: 90%);
    width: 100%;
    padding: 1em 3em;
    font-size: 1.2em;
    color: grey;
    width: 30vw;
    margin: 1em auto;
    position: relative;
    display: block;
    &:focus{
        outline: none;
    }
}

.definition {
    font-family: arial,sans-serif;
    font-size: 1.1em;
    color: gray;
    display: none;
    margin: 0 auto;
    text-align: center;

    & .found {
        color: black;
    }
}

div.searchMessage {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    display: none;
    margin: 0 auto;

    & img{
        width: 50vw;
        max-width: 500px;
        margin: 10em auto 0 auto;
        display: block;
    }

    & p {
        text-align: center;
    }
}
.atvImg{
  display: flex;
  width: 280px;
  height: 158px;
  margin: 1em;
  border-radius: 5px;
	transform-style: preserve-3d;
	-webkit-tap-highlight-color: rgba(#000,0);
  cursor: pointer;
  &.depressed{
    margin-top: 25px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
  }
  img {
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(14,21,47,0.25);
  }

  @include media("<=tablet") {
      align-self: center;
      width: 90%;
      height: 200px;
  }

  & img {
      height: 200px;
  }
}
.atvImg-container {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 5px;
    transition: all 0.2s ease-out;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include media("<=tablet") {
        align-content: stretch;
        display: flex;
        flex-direction: column;
    }
}

.atvImg-container.over .atvImg-shadow {
	box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
}

.atvImg-layers {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
	transform-style: preserve-3d;
}

.atvImg-rendered-layer {
	position: absolute;
	width: 104%;
	height: 104%;
	top: -2%; 
	left: -2%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	background-size: auto 140px;
    transition: all 0.1s ease-out;
}

.atvImg-shadow {
	position: absolute;
	top: 5%; 
	left: 5%;
	width: 90%;
	height: 90%;
	transition: all 0.2s ease-out;
	box-shadow: 0 8px 30px rgba(14,21,47,0.6);
}

.atvImg-shine {
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0;
	border-radius: 5px;
	background: linear-gradient(135deg, rgba(255,255,255,.25) 0%,rgba(255,255,255,0) 40%);
}

.logo{
    margin-top: 2em;
    width: 20vw;
}

.translate{
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 3;
    padding: 1em;
    border-radius: 100%;
    & img {
        width: 50px;
        height: 50px;
    }

    &:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
}

section {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background: linear-gradient(#f6f7fc 0%,#d5e1e8 40%) fixed; 
    display: none;

    .question {
        font-size: 4em;
    }
    .option-panel{
        display: flex;
        justify-content: space-around;
    }
    .option {
        font-size: 2.5em;
        color: black;
        text-decoration: none;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.notify {
    background: #d4edda;
    border:2px solid #c3e6cb;
    color: #155724;
    border-radius: 20px;
    padding: 2em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 999;
    font-family: 'Arial', Helvetica, sans-serif;
    opacity: 0;
}
